@font-face {
  font-family: "iconfont"; /* Project id 3575264 */
  src: url('iconfont.woff2?t=1663410238093') format('woff2'),
       url('iconfont.woff?t=1663410238093') format('woff'),
       url('iconfont.ttf?t=1663410238093') format('truetype'),
       url('iconfont.svg?t=1663410238093#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.liex-icon-fuhao-yingwen:before {
  content: "\e712";
}

.liex-icon-fuhao-zhongwen:before {
  content: "\e713";
}

.liex-icon-add:before {
  content: "\e6df";
}

.liex-icon-arrawsalt:before {
  content: "\e7e9";
}

