:root {
	--liex-menu-hover-bg-color: rgba(0, 0, 0, 0.1);
	--liex-menu-color: #f2f3f5;
	--liex-bg-color: #262b34;
	--liex-menu-active-bg-color: rgba(0, 0, 0, 0.2);
	--liex-menu-active-color: var(--liex-menu-color);
}

$bg-color: var(--el-color-primary);
